html {
    background-color: rgb(6,99,92);
}

body {
    background-color: transparent;
}

h1 {
    text-align: center;
    color:white;
}

div.col-container {
    background-color: white;
    border-radius: 10px;
}

div.player {
    font-size: 30px;
}

.top {
    font-weight: bold;
}