html {
    background-color: rgb(6,99,92);
}

h1 {
    text-align: center;
    color:white;
}

div.list {
    /*background-color: white;
    padding: 20px;
    border-radius: 10px;*/
}

.col1 {
    background-color: red;
}

.col2 {
    background-color: blue;
}